.pdesktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pdesktop .div {
    background-color: #ffffff;
    top: 100px;
    height: 1800px;
    position: relative;
    width: 1440px;
}

/* title font */
.pdesktop .text-wrapper, .pdesktop .text-wrapper-2, .pdesktop .text-wrapper-3, .pdesktop .text-wrapper-4 {
    color: #38312c;
    font-family: "FuturaCyrillicMedium", sans-serif;
    src: local('FuturaCyrillicMedium'), url(/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
    font-size: 84px;
    font-weight: 500;
    user-select: none;
}

/* description font */
.pdesktop .burh, .p, .text-input-2, .text-input-3, .text-input-4 {
    color: #38312c;
    font-family: "LeMondeLivre-Normal", sans-serif;
    src: local('LeMondeLivre-Normal'), url(/lemonde-livre/LeMondeLivre-Normal.ttf) format('truetype');
    font-size: 24px;
    font-weight: 500;
}

.pdesktop .text-wrapper {
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
    width: 525px;
}

.pdesktop .burh {
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 131px;
    width: 885px;
    user-select: none;
}

.pdesktop .p {
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 650px;
    user-select: none;
}

.pdesktop .rectangle {
    background-color: #d9d9d9;
    height: 400px;
    left: 50vw;
    transform: translateX(-50%);
    position: absolute;
    top: 250px;
    width: 1090px;
}

.pdesktop .rectangle-2 {
    background-color: #d9d9d9;
    height: 610px;
    left: 50vw;
    transform: translateX(-50%);
    transform: translateX(-545px);
    position: absolute;
    top: 750px;
    width: 100px;
    border-radius: 0;
}

.pdesktop .overlap-group {
    border-radius: 14px;
    height: 40px;
    left: 50vw;
    transform: translateX(-50%);
    position: absolute;
    top: 1400px;
    width: 150px;
    cursor: pointer;
  }
  
  .pdesktop .rectangle-3 {
    background-color: #c5a054;
    border-radius: 14px;
    height: 40px;
    position: absolute;
    width: 150px;
  }
  
  .pdesktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "FuturaCyrillicMedium", sans-serif;
    src: local('FuturaCyrillicMedium'), url(./futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    top: 10px;
    position:relative;
    z-index: 100;
    text-align: center;
    user-select: none;
  }
  
  

  .pdesktop .wordBox {
    background-color: #f3f3f3;
    color: #38312c;
    font-family: "FuturaCyrillicMedium", sans-serif;
    src: local('FuturaCyrillicMedium'), url(/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
    font-weight: 500;
    font-size: 12px;
    height: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    position: relative; 
}

.pdesktop .wordBox span {
    position: absolute; /* Use absolute positioning for the inner text */
    top: 50%; /* Move the text to the vertical center of the box */
    left: 0; /* Align the text to the left within the box */
    transform: translateY(-50%); /* Adjust for the vertical centering */
    width: 100%; /* Allow the text to take the full width of the box */
}


.pdesktop .active {
    background-color: #c5a054;
  }

/* V1 */

.pdesktop .text-wrapper-2 {
    font-size: 30px;
    left: 50vw;
    transform: translateX(-400px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 750px;
    width: 165px;
}

.pdesktop .text-input-2 {
    left: 50vw;
    transform: translateX(-370px);
    line-height: normal;
    position: absolute;
    top: 800px;
    width: 915px;
    height: 115px;
    text-align: left;
    resize: none;
  }


/* V2 */

.pdesktop .text-wrapper-3 {
    font-size: 30px;
    left: 50vw;
    transform: translateX(-400px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 950px;
    width: 165px;
}

.pdesktop .text-input-3 {
    left: 50vw;
    transform: translateX(-370px);
    line-height: normal;
    position: absolute;
    top: 1000px;
    width: 915px;
    height: 115px;
    text-align: left;
    resize: none;
  }

/* V3 */
  
.pdesktop .text-wrapper-4 {
    font-size: 30px;
    left: 50vw;
    transform: translateX(-400px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1150px;
    width: 165px;
}

.pdesktop .text-input-4 {
    left: 50vw;
    transform: translateX(-370px);
    line-height: normal;
    position: absolute;
    top: 1200px;
    width: 915px;
    height: 115px;
    text-align: left;
    resize: none;
  }