.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: inherit;
}

.desktop .overlap {
  background-image: url(https://www.brightonjones.com/wp-content/uploads/2021/12/tall-hero-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 329px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 100vw;
}

.desktop .text-wrapper {
  color: #38312c;
  font-family: "FuturaCyrillicMedium", sans-serif;
  src: local('FuturaCyrillicMedium'), url(/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
  font-size: 84px;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: -2.52px;
  line-height: 84px;
  position: absolute;
  text-align: center;
  top: 55px;
  width: 100vw;
}

.desktop .p {
  color: #38312c;
  font-family: "LeMondeLivre-Normal", sans-serif;
  src: local('LeMondeLivre-Normal'), url(/lemonde-livre/LeMondeLivre-Normal.ttf) format('truetype');
  font-size: 24px;
  font-weight: 500;
  left: 512px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 162px;
  white-space: nowrap;
}

.desktop .overlap-group {
  height: 59px;
  left: 638px;
  position: absolute;
  top: 584px;
  width: 255px;
}

.desktop .rectangle {
  background-color: #d9d9d9;
  height: 58px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 255px;
}

.desktop .text-wrapper-2 {
  color: #00000080;
  font-family: "DM Serif Display-Regular", Helvetica;
  font-size: 42px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 255px;
}

.desktop .overlap-group-2 {
  height: 59px;
  left: 638px;
  position: absolute;
  top: 660px;
  width: 255px;
}

.desktop .overlap-2 {
  border-radius: 14px;
  height: 50px;
  left: 713px;
  position: absolute;
  top: 753px;
  width: 108px;
}

.desktop .rectangle-2 {
  background-color: #c5a054;
  border-radius: 14px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 108px;
}

.desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: "FuturaCyrillicMedium", sans-serif;
  src: local('FuturaCyrillicMedium'), url(./futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
  font-size: 20px;
  font-weight: 500;
  left: 32px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 14px;
  z-index: 100;
}