.vdesktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.vdesktop .div {
    background-color: #ffffff;
    top: 100px;
    height: 1800px;
    position: relative;
    width: 1440px;
}

/* title font */
.vdesktop .text-wrapper, .vdesktop .text-wrapper-2, .vdesktop .text-wrapper-3, .vdesktop .text-wrapper-4 {
    color: #38312c;
    font-family: "FuturaCyrillicMedium", sans-serif;
    src: url(../assets/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
    font-size: 84px;
    font-weight: 500;
    user-select: none;
}

/* description font */
.vdesktop .burh, .p, .text-input-2, .text-input-3, .text-input-4 {
    color: #38312c;
    font-family: "LeMondeLivre-Normal", sans-serif;
    src: url(../assets/lemonde-livre/LeMondeLivre-Normal.ttf) format('truetype');
    font-size: 24px;
    font-weight: 500;
}

.vdesktop .text-wrapper {
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
    white-space: nowrap;
    width: 525px;
}

.vdesktop .burh {
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 131px;
    width: 885px;
    user-select: none;
}

.vdesktop .p {
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 900px;
    user-select: none;
}

.vdesktop .rectangle {
    background-color: #d9d9d9;
    height: 610px;
    left: 50vw;
    transform: translateX(-50%);
    position: absolute;
    top: 250px;
    width: 1090px;
}

.vdesktop .rectangle-2 {
    background-color: #d9d9d9;
    height: 610px;
    left: 50vw;
    transform: translateX(-50%);
    transform: translateX(-545px);
    position: absolute;
    top: 1000px;
    width: 100px;
    border-radius: 0;
}

.vdesktop .overlap-group {
    border-radius: 14px;
    height: 40px;
    left: 50vw;
    transform: translateX(-50%);
    position: absolute;
    top: 1650px;
    width: 150px;
    cursor: pointer;
  }
  
  .vdesktop .rectangle-3 {
    background-color: #c5a054;
    border-radius: 14px;
    height: 40px;
    position: absolute;
    width: 150px;
  }
  
  .vdesktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "FuturaCyrillicMedium", sans-serif;
    src: url(../assets/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    top: 10px;
    position:relative;
    z-index: 100;
    text-align: center;
    user-select: none;
  }
  
  

.vdesktop .wordBox {
    background-color: #f3f3f3;
    color: #38312c;
    font-family: "FuturaCyrillicMedium", sans-serif;
    src: url(../assets/futura-pt-cufonfonts/FuturaCyrillicMedium.ttf) format('truetype');
    font-weight: 500;
    font-size: 12px;
    padding-top: 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
}

.vdesktop .active {
    background-color: #c5a054;
  }

/* V1 */

.vdesktop .text-wrapper-2 {
    font-size: 30px;
    left: 50vw;
    transform: translateX(-370px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1000px;
    width: 165px;
    text-align: left;
}

.vdesktop .text-input-2 {
    left: 50vw;
    transform: translateX(-370px);
    line-height: normal;
    position: absolute;
    top: 1050px;
    width: 915px;
    height: 115px;
    text-align: left;
    resize: none;
  }


/* V2 */

.vdesktop .text-wrapper-3 {
    font-size: 30px;
    left: 50vw;
    transform: translateX(-370px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1200px;
    width: 165px;
    text-align: left;
}

.vdesktop .text-input-3 {
    left: 50vw;
    transform: translateX(-370px);
    line-height: normal;
    position: absolute;
    top: 1250px;
    width: 915px;
    height: 115px;
    text-align: left;
    resize: none;
  }

/* V3 */
  
.vdesktop .text-wrapper-4 {
    font-size: 30px;
    left: 50vw;
    transform: translateX(-370px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 1400px;
    width: 165px;
}

.vdesktop .text-input-4 {
    left: 50vw;
    transform: translateX(-370px);
    line-height: normal;
    position: absolute;
    top: 1450px;
    width: 915px;
    height: 115px;
    text-align: left;
    resize: none;
  }